.box-wrapper {
    display: flex;
    align-items: center;
    padding: 20px;

    .box {
        height: 100px;
        &.blue {
            flex: 0 0 30%;
            background-color: blue;
        }
        &.red {
            flex: 0 0 50%;
            background-color: red;
        }
    }
}
p {
    color: red;
    cursor: pointer;
}
.custom-button {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
    &:active {
        opacity: .3;
    }
}
